fastapi==0.115.4
uvicorn[standard]==0.32.0
python-multipart==0.0.12
aiofiles==24.1.0
groq==0.11.0
google-generativeai==0.8.3
mistralai==1.2.5
python-docx==1.1.2
PyPDF2==3.0.1
python-pptx==1.0.2
pillow==11.0.0
edge-tts==7.0.0
gtts==2.5.4
requests==2.32.3
fpdf2==2.8.1